#calculatorContainer {
    display: flex;
    border-color: black;
    border-style: solid;
    width: 600px;
    height: 750px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
#display {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 100px;
}
.calculatorButtons {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 100px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 10px
}
#display {
    width: 500px;
    align-self: center;
    margin: 10px
}
