#calculatorContainer {
    display: flex;
    border-color: black;
    border-style: solid;
    width: 600px;
    justify-content: space-between;
    flex-direction: column;
}
#display {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 200px;
}
.calculatorButtons {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 50px;
    width: 50px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px
}
#display {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 50px;
    width: 210px;
    align-self: center;
    margin: 10px
}
