#calculatorContainer {
    display: flex;
    border-color: black;
    border-style: solid;
    width: 250px;
    padding: 4px;
    justify-content: space-between;
    flex-direction: column;
}

.calculatorButtons {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 50px;
    width: 50px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 2px
}
#display {
    display: flex;
    border-color: black;
    border-style: solid;
    height: 50px;
    width: 210px;
    align-self: center;
    margin-bottom: 5px;
    text-align: right;
    font-size: 30px;
}
